db.lock
Morters Kundapp/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Morters App/.vs/Morters App/v15/.suo
Morters App/.vs/Morters App/v15/.suo
Morters App/.vs/Morters App/v15/Server/sqlite3/storage.ide
Morters App/Morters App/obj/Debug/Morters App.csproj.CoreCompileInputs.cache
